# Runs tests on any push or pull request.
# If the tests pass and this is a push to the main branch also run Semantic Release.
name: Release
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: release-main
  cancel-in-progress: true
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v1
      - name: install
        run: bun install
      - name: test
        run: bun run test
      - name: build
        run: bun run build
      - uses: cycjimmy/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
